.banner__container {
    display: flex;
    height: 192px;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    padding: 16px 16px;
}

.banner__box {
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.banner__titulo {
    font-weight: 700;
    color:var(--cor-de-fundo);
    font-size: 22px;
    line-height: 25px;
    margin: 8px 0;
}

.banner__subtitulo {
    font-weight: 600;
    color:var(--cor-de-fundo);
    font-size: 14px;
    line-height: 16px;
    margin: 8px 0;
}

.banner__btn {
    background-color: var(--cor-link);
    width: 119px;
    height: 40px;
    text-decoration: none;
    color:var(--cor-de-fundo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    transition: all 1s;
}

.banner__btn:hover{
    background-color: var(--cor-btn-hover);
}

@media screen and (min-width: 768px) {

    .banner__container {
        height: 352px;
        background-image: url('../img/banner3.png');
        padding: 32px 32px;
    }
    .banner__titulo {
        font-weight: 700;
        font-size: 52px;
        line-height: 61px;
    }

    .banner__subtitulo {
        font-weight: 700;
        font-size: 22px;
        line-height: 25px;
    }
}

@media screen and (min-width: 1024px) {
    .banner__container {
        flex-direction: column;
        justify-content: flex-end;
        height: 352px;
        background-image: url('../img/banner.png');
        background-size:cover;
        padding: 0 152px;
    }

    .banner__box {
        width: 751px;
        padding: 15px 0;
    }
    .banner__titulo {
        font-size: 52px;
        line-height: 61px;
        margin: 16px 0;
    }
    .banner__subtitulo {
        font-weight: 700;
        font-size: 22px;
        line-height: 25px;
    }
    .banner__btn{
        width: 130px;
        height: 51px;
        font-size: 16px;
        font-weight: 400;
        margin: 15px 0;
    }
    
}
